/// container

@use '../abstracts/' as *;

.container {
  @include make-container(2.4rem);
  max-width: map-get($container-max-widths, sm);
  margin: 3.8rem auto 4.6rem auto;

  // medium breakpoint
  @include mq(medium) {
    max-width: map-get($container-max-widths, md);
  }

  // large breakpoint
  @include mq(large) {
    @include make-container(3rem);
    max-width: map-get($container-max-widths, lg);
  }

  // x-large breakpoint
  @include mq(x-large) {
    @include make-container(10.5rem);
    max-width: map-get($container-max-widths, xl);
  }

  // xx-large breakpoint
  @include mq(xx-large) {
    max-width: map-get($container-max-widths, xxl);
  }
}
