/// container

@use '../abstracts/' as *;

.container {
  @include make-container(2.4rem);
  max-width: map-get($container-max-widths, sm);
  margin: 0 auto;

  // medium breakpoint
  @include mq(medium) {
    padding: 0;
    max-width: map-get($container-max-widths, md);
  }

  // large breakpoint
  @include mq(large) {
    @include make-container(16.5rem);
    max-width: map-get($container-max-widths, xl);
  }
}
