/// header

@use '../abstracts/' as *;

.header {
  display: block;
  max-width: map-get($container-max-widths, xs);
  margin: 0 auto 2.6rem auto;

  &__text {
    padding: 0 0 2.4rem 0;
    color: var(--desaturated-blue-card);
    border-bottom: 1px solid hsl(234, 13%, 28%);

    // large breakpoint
    @include mq(large) {
      border-bottom: none;
    }
  }

  &__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 0 0;

    label {
      color: var(--desaturated-blue-card);
      cursor: pointer;
      margin: 0 1.3rem;
    }

    // large breakpoint
    @include mq(large) {
      padding: 1.6rem 0 4.8em 0;
    }
  }

  // medium breakpoint
  @include mq(medium) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: map-get($container-max-widths, md);
    margin: 0;
  }

  // large breakpoint
  @include mq(large) {
    max-width: map-get($container-max-widths, lg);
  }

  // x-large breakpoint
  @include mq(x-large) {
    max-width: map-get($container-max-widths, xl);
  }

  // xx-large breakpoint
  @include mq(xx-large) {
    max-width: map-get($container-max-widths, xxl);
  }
}
