/// header

@use '../abstracts/' as *;

header {
  max-width: map-get($container-max-widths, xs);
  margin: 3.8rem auto 2.6rem auto;

  // medium breakpoint
  @include mq(medium) {
    margin: 0;
  }
}
