/// layout

@use '../abstracts/' as *;

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  &__top {
    justify-content: center;
    margin: 0 auto;

    // medium breakpoint
    @include mq(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0;
    }

    // large breakpoint
    @include mq(large) {
      display: flex;
    }
  }

  &__overview__wrapper {
    // medium breakpoint
    @include mq(medium) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    // large breakpoint
    @include mq(large) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
