/// card

@use '../abstracts/' as *;

.card {
  display: flex;
  max-width: 32.6rem;
  background-color: var(--dark-desaturated-blue-card);

  &--top {
    @include transition(0.15s ease-in);
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 2.5rem 0;
    padding: 3.2rem 7rem 2.4rem;

    // x-small breakpoint
    @include mq(x-small) {
      padding: 3.2rem 10rem 2.4rem;
    }

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__username {
        margin: 0 0.8rem;
        color: var(--desaturated-blue-card);
      }
    }

    &__middle {
      padding: 2rem 0 3rem 0;

      &__followers {
        color: var(--desaturated-blue-card);
      }
    }

    // top card upper line hover effect
    &__facebook {
      @include card-hover-line(var(--facebook));
    }

    &__twitter {
      @include card-hover-line(var(--twitter));
    }

    &__instagram {
      @include card-hover-line(
        var(--instagram-start),
        var(--instagram-middle),
        var(--instagram-end)
      );
    }

    &__youtube {
      @include card-hover-line(var(--youtube));
    }

    // card hover effect
    &:hover {
      @include transition(0.15s ease-in);
      box-shadow: 0 10px 40px rgba(204, 207, 219, 0.15);
    }
  }

  &--overview {
    margin: 0 0 1.8rem 0;
  }

  // card ratings ( green and red text and arrows )

  &__ascent {
    color: var(--arrow-up);
  }

  &__descent {
    color: var(--arrow-down);
  }

  // up and down arrows

  &__ascent::before {
    content: "▲";
    color: var(--arrow-up);
  }

  &__descent::before {
    content: "▼";
    color: var(--arrow-down);
  }
}
