/// card

@use '../abstracts/' as *;

.card {
  display: flex;
  max-width: 32.6rem;
  background-color: var(--dark-desaturated-blue-card);
  border-radius: 6px;

  &--top {
    @include transition(0.15s ease-in);
    position: relative;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 2.5rem 0;
    padding: 3rem 7rem 2.4rem;

    &__top {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__username {
        color: var(--desaturated-blue-card);
      }

      p {
        margin: 0 0 0 1rem;
      }
    }

    &__middle {
      padding: 2rem 0 2.8rem 0;

      &__followers {
        margin: 0.4rem 0 0 0;
        color: var(--desaturated-blue-card);
      }
    }

    // top card upper line hover effect
    &__facebook {
      @include card-hover-line(var(--facebook));
    }

    &__twitter {
      @include card-hover-line(var(--twitter));
    }

    &__instagram {
      @include card-hover-line(
        var(--instagram-start),
        var(--instagram-middle),
        var(--instagram-end)
      );
    }

    &__youtube {
      @include card-hover-line(var(--youtube));
    }

    // card hover effect
    &:hover {
      @include transition(0.15s ease-in);
      box-shadow: 0 10px 40px rgba(204, 207, 219, 0.15);
    }

    // card breakpoints

    // x-small breakpoint
    @include mq(x-small) {
      padding: 3.2rem 10rem 2.4rem;
    }

    // medium breakpoint
    @include mq(medium) {
      min-width: 326px;

      // card space between
      &:nth-child(even) {
        margin: 0 0 2rem auto;
      }

      &:nth-child(odd) {
        margin: 0 auto 2rem 0;
      }
    }

    // large breakpoint
    @include mq(large) {
      min-width: 200px;
      padding: 3.2rem 0 2.4rem 0;

      // card space between
      &:nth-child(even) {
        margin: 0;
      }

      &:nth-child(odd) {
        margin: 0;
      }
    }

    // x-large breakpoint
    @include mq(x-large) {
      padding: 3.2rem 4rem 2.4rem;
    }

    // xx-large breakpoint
    @include mq(xx-large) {
      min-width: 254px;
    }
  }

  &--overview {
    flex-direction: column;
    align-items: space-between;
    padding: 2.7rem 3.1rem 2.7rem 2.6rem;
    margin: 0 0 1.8rem 0;

    &__top,
    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &__top {
      margin: 0 0 1.4rem 0;
      p {
        color: var(--desaturated-blue-card);
      }
    }
  }

  // card ratings ( green and red text and arrows )

  &__ascent {
    color: var(--arrow-up);
  }

  &__descent {
    color: var(--arrow-down);
  }

  // up and down arrows

  &__ascent::before {
    content: "▲";
    color: var(--arrow-up);
    margin: 3px;
  }

  &__descent::before {
    content: "▼";
    color: var(--arrow-down);
    margin: 3px;
  }
}
