/// base

@use '../abstracts/' as *;

*, // minimal normalize
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// global parent font size (10px == 1rem)
html {
  font-size: 62.5%;
}

body {
  background-color: var(--very-dark-blue-background);
  color: var(--white-background);
}

h1 {
  margin: 0 0 1.4rem 0;
}

img {
  max-width: 100%;
}

fieldset {
  padding: 0;
  border: none;
}
